[submodule "SealHATv1.0.4/si705x"]
	path = SealHATv1.0.4/si705x
	url = https://github.com/SealHAT/SI705x.git
[submodule "SealHATv1.0.4/max44009"]
	path = SealHATv1.0.4/max44009
	url = https://github.com/SealHAT/MAX44009.git
[submodule "SealHATv1.0.4/lsm303"]
	path = SealHATv1.0.4/lsm303
	url = https://github.com/SealHAT/LSM303.git
[submodule "SealHATv1.0.4/utilities"]
	path = SealHATv1.0.4/utilities
	url = https://github.com/SealHAT/Utilities.git
[submodule "SealHATv1.0.4/storage"]
	path = SealHATv1.0.4/storage
	url = https://github.com/SealHAT/storage.git
[submodule "SealHATv1.0.4/sam-m8q"]
	path = SealHATv1.0.4/sam-m8q
	url = https://github.com/SealHAT/SAM-M8Q.git
